<!DOCTYPE html>
<html>
    <head>
        <title>Sua Aplicação</title>
    </head>
    <body>
        <h1>Perguntas e Respostas</h1>
        <form action="/result" method="post">
            <p>Pergunta 1:</p>
            <input type="range" name="resposta1" min="0" max="10">
            <p>Pergunta 2:</p>
            <input type="range" name="resposta2" min="0" max="10">
            <p>Pergunta 3:</p>
            <input type="range" name="resposta3" min="0" max="10">
            <br><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>