#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

form select {
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    color: white;
    background-color: #027e21;
    width: 40%;
    height: 30px;

}

.select-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    position: relative;
}

.icon-container {
    position: absolute;
    right: 30%;
    display: flex;
    align-items: center;
    background-color: darkgreen;
    width: 30px;
    height: 30px;
    justify-content: center;
    pointer-events: none;
}

.icon-container svg {
    color: white;

}

body {
    width: 100%;
    height: 100%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: aliceblue;
    align-self: center;
}

button {
    color: aliceblue;
    background-color: #027e21;
    margin-top: 10%;
    border-radius: 15%;
    border: NONE;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #00aa2b;
    color: #ffffff;
    cursor: pointer;
    animation: animateButton 0.1s linear forwards;
    border: #ffffff;
}

@keyframes animateButton {
    0% {}

    100% {
        box-shadow: 0 0 3px #00aa2b;
    }
}