body{
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: aliceblue;
    align-self: center;
    margin-bottom: 5px;
}
h4{
    color: rgb(255, 255, 255);
}
p{
    color: rgb(207, 207, 207);
}
h6{
    margin: 0;
    color: aliceblue;
}

.pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resposta{
    display: flex;
    justify-content: center;
}
.resposta p{
    margin: 2% 5%;
}
input[type ="range"]{
    -webkit-appearance: none;
    background: rgb(5, 5, 5);
    outline: none;
    width: 20%;
    height: 5px;
    border-radius: 9px;   
    align-self: center;
}
input::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 13px;
    height: 13px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid aliceblue;
    cursor: pointer;
    
}
input::-webkit-slider-thumb:hover{
    animation: upper 0.2s linear forwards;
    box-shadow: 0 0 5px aliceblue;
}
@keyframes upper {
    0%{}
    100%{
        transform: translateY(120%);
    }
}
form{
    margin: 0% 10%;
}
.pouca{
    color: rgb(204, 141, 141);
}
.muita{
    color: #7cb47a;
}
h5{
  color: aliceblue;
  margin-top: 0;
}
input[type="submit"] {
    color: aliceblue;
    background-color: #027e21;
    margin-top: 10%;
    border-radius: 15%;
    border: NONE;
}

input[type="submit"]:hover {
    background-color: #00aa2b;
    color: #ffffff;
    cursor: pointer;
    animation: animateButton 0.1s linear forwards;
    border: #ffffff;
}

@keyframes animateButton {
    0% {}

    100% {
        box-shadow: 0 0 3px #00aa2b;
    }
}