body {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: aliceblue;
    align-self: center;
    margin-bottom: 5px;
    font-size: 4em;
}

h4 {
    color: rgb(255, 255, 255);
    font-size: 2em;
}

p {
    color: rgb(207, 207, 207);
    font-size: 1.4em;
}


.pergunta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resposta {
    display: flex;
    justify-content: center;
}

.resposta p {
    margin: 2% 5%;
}

input[type="range"] {
    -webkit-appearance: none;
    background: rgb(5, 5, 5);
    outline: none;
    width: 200px;
    height: 5px;
    border-radius: 9px;
    align-self: center;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 13px;
    height: 13px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid aliceblue;
    cursor: pointer;

}

input::-webkit-slider-thumb:hover {
    animation: upper 0.2s linear forwards;
    box-shadow: 0 0 5px aliceblue;
}

@keyframes upper {
    0% {}

    100% {
        transform: translateY(120%);
    }
}

form {
    margin: 0% 10%;
    display: flex;
    flex-direction: column;
}

.pouca {
    color: rgb(204, 141, 141);
    font-size: 1em;
}

.muita {
    color: #7cb47a;
    font-size: 1em;
}

h5 {
    color: aliceblue;
    margin-top: 0;
    font-size: 1.3em;
}

input[type="submit"] {
    color: aliceblue;
    background-color: #027e21;
    margin: 10% 0%;
    border-radius: 15%;
    border: NONE;
    align-self: center;
    height: 50px;
    width: 80px;
    font-size: 1.2em;
}

input[type="submit"]:hover {
    background-color: #00aa2b;
    color: #ffffff;
    cursor: pointer;
    animation: animateButton 0.1s linear forwards;
    border: #ffffff;
    
}

@keyframes animateButton {
    0% {}

    100% {
        box-shadow: 0 0 3px #00aa2b;
    }
}
@media (max-width: 1024px) {
* {
  font-size: 0.9rem;
}
}
@media (max-width: 768px) {
h5 {
  font-size: 1em;
}
}
@media (max-width: 425px) {
h4{
    font-size: 1em;
}
h1{
        font-size: 2em;
}
p{
       font-size: 0.8em
}
    input[type="submit"] {
    height: 40px;
    width: 60px;
    font-size: 1em;
}
input[type="range"] {

    width: 150px;

}
}