body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    background: #222;
    margin: 0;
}
.container{
  margin: 10% 5%;
  width: 100%;
}
.container .card{
  width: 100%;
  height: 20em;
  background: #222222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container .card .percent{
  height: 100%;
  transform: rotate(270deg);
}
.container .card .percent svg{
  position: relative;
}
.container .card .percent svg circle{
  fill: transparent;
  stroke-width: 3;
  transform: translate(5px, 5px);
}
.container .card .percent svg circle:nth-child(1)
{
  stroke: var(--clr);
  stroke-dasharray: 710;
  stroke-dashoffset: calc(710 - (710 * var(--num))/100);
  animation: fadeIn 1.5s linear forwards;
  opacity: 0;
  animation-delay: 2s;

}
@keyframes fadeIn {
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
  
}
.dot{
  position: absolute;
  inset: 7% 10.5% 3% 14%;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}
@keyframes animateDot{
  0%{
    transform: rotate(-270deg);
  }
  100%
  {
    transform: rotate(calc(3.6deg * calc(var(--num) - 74.9)));
  }
}
.dot::before{
  content: '';
  position: absolute;
  top: -1.1%;
  left: 50%;
  width:4.5%; 
  height: 4.5%;
  border-radius: 50%; 
  background: var(--clr);
  transform: translateX(-50%);
  box-shadow: 0 0 8px var(--clr),
  0 0 8px var(--clr);
}
.number{
  position: absolute;
  inset: 0;
  transform: translateX(1%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.number h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 3em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.number h2 span{
  font-size: 0.5em;
}