<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <title>Document</title>

</head>

<body>
    <h1>Perguntas e Respostas</h1>
    <h5>Classifique sua afinidade em cada uma das matérias a seguir, baseando-se apenas no nome e no breve resumo</h5>
    <form action="/test" method="post"></form>
    <script type="text/javascript">
        var quest = {{ questions | safe }}; //dicionário com as matérias
        var names = {{ names | safe }}; //nomes dos cursos
    </script>
    <script src="{{ url_for('static', filename='js/test.js') }}">

    </script>

</body>

</html>